.container {
    max-width: 1066px;
    width: 100%;
    margin: 0 auto;
}
.main__footer {
    background-color: #605A58;
    height: 310px;
}
.main__footer__group {
    padding: 20px 15px;
}
.footer__info {
    display: flex;
    flex-flow: row wrap;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; left: 1px; bottom: 5px;
    padding-top: 16px;
}
.media {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #474241;
    margin: 7px 7px;
    border: 1px solid #444;
    cursor: pointer;
}
.media a {
    color: #605A58;
}
.media:hover  {
    background: #f79440;
    transition: 0.5s;
}
.author__info {
    margin-left: 20px;
}
.geo {
    opacity: 0.66;
	color: white;
    font-family: 'Open Sans';
    padding-top: 15px;
}
.geo .fas {
    margin-right: 10px;
}
h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Rufina';
	font-size: 28px;
	font-weight: 400;
    line-height: 31px;
}
h2 {
    color: white;
    font-family: 'Open Sans';
    position: relative; right: 33px;
    font-size: 18px;
    font-weight: 400;
}
.text__info {
    opacity: 0.66;
	color: white;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
    padding: 0px 5px;
    word-spacing: 2px;
}
.progress-bar {
    display: block;
    width: 264px;
    height: 14px;
    background-color: #908C8A;
    margin-top: 21px;
}
.progress-bar > span {
    background-color: #474241;
    height: 14px;
    display: block;
}
.progress-bar:hover {
    display: block;
    background-color: #DFDEDE;
}
.progress-bar:hover span {
    background-color: #F79440;
    height: 14px;
    display: block;
}
.footer__skills {
    padding-top: 13px;
    padding-left: 45px;
}