.container {
    max-width: 1066px;
    width: 100%;
    margin: 0 auto;
}
.portfolio {
    height: 1200px;
}
.portfolio__nav {
    margin:  26px 3px 17px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.portfolio__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.portfolio__item {
    padding: 0px 10px 0px 12px;
    word-spacing: 3px;
}
.portfolio__link {
    font-family:'Rufina';
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #474241;
    text-decoration: none;
    letter-spacing: 0.01em;
    position: relative;
    padding: 4px 6px 4px 6px;
    width: 650px;
    transition: 0.5s;
}
.portfolio__link--active, .portfolio__link:hover {
    background: #6a6665; 
    color: white;
    padding: 4px 6px 4px 6px;
}
.portfolio__img {
    padding-top: 30px;
    margin: 0;
}
.portfolio__img img:hover {
    filter: sepia(100%);
    transition: 0.5s;
}
.row--img {
    padding-top: 30px;
}