@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Rufina:400,700');

@import './blocks/blocks.scss';

body {
    background-image: url(../../img/Portfolio.png);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    font-family:'Rufina';
    color: #4e4d4d;
}