.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}
.buy {
    height: 116px;
    /*background-color: #fafafa;*/
    p {
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
}