body {
    background-image: url();
    background-position: top;
    font-family: 'Karla', sans-serif;
}
.header {
    background-image: url(../img/things-arranged-3_back.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,.7);
}
.container {
    width: 100%;
    margin: 0 auto;
}
.header__headline {
    padding: 40px 90px 0px 85px;
    height: 638px;
    font-family: 'Karla';
}
.header__logo {
    display: flex;
    justify-content: space-between;
}
.header__logo--menu {
    padding-right: 15px;
}
.header__text {
    padding-top: 105px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 45px;
    color: white;
}
.header__title--bold {
    font-weight: 700;
    word-spacing: 0.5px;
}
.header__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 66px;
    text-decoration: none;
    color: white;
    position: relative; right: 3px; bottom: 4px;
}
.cards {
    background-color: transparent;
    border: 1px solid transparent;
    border-collapse: collapse;
    padding-top: 60px;
    text-align: center;
    font-size: 24px;
	font-weight: 400;
    color: white;
    display: block;
    width: 220px;
    height: 220px;
    transition: 2s;
}
.cards__back {
    display: none;
}
.cards:hover, .cards:active {
    background-color: #2ecc71;
    color: white;
    opacity: 0.92;
    padding-top: 30px;
    transition: 1.5s;
}
.cards:hover .cards__front {
    display: none;
}
.cards:hover .cards__back {
    display: block;
}
.icons {
    box-sizing: border-box;
    border: 1px solid white;
	border-radius: 3px;
    color: white;
    padding: 12px;
    height: 52px;
}
.cards:hover a {
    background-color: #2ecc71; 
    text-decoration: none; 
    display: block;
    text-align: center;
}
.active__space {
    text-decoration: none;
    color: white;
}
.more {
    display: block;
    border-collapse: collapse;
    width: 218px;
    font-size: 18px;
    font-weight: 400;
	line-height: 55px;
    background-color: #27ae60;   
}
.about__section {
    height: 585px;
    background-image: url(../img/main_about_back.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.about__text {
    display: flex;
    flex-flow: column wrap;
    padding: 95px 0px 0px 83px;
}
.about__bio--hi {
    font-size: 30px;
	line-height: 29px; 
    font-weight: 400;
    color: #191919;
    font-family: 'Asap';
    margin: 0cm;
}
.about__bio--lorem {
    color: #404040;
	font-family: 'Karla';
	font-size: 16px;
	font-weight: 400;
    line-height: 29px;
    padding-top: 5px;
}
.about__buttons {
    padding-top: 31px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn {
    display: inline-block;
    border: 1px solid #2ec06c;
	border-radius: 5px;
    background-color: transparent;
    width: 200px;
    height: 60px;
    position: relative; right: 17px; top: 5px;
    color: #2ec06c;
	font-family: 'Asap';
	font-size: 18px;
	font-weight: 400;
    line-height: 29px;
    cursor: pointer;
    transition: 1.5s;
}
.btn:hover, .btn:active {
    color: white;
	font-family: 'Asap';
	font-size: 18px;
	font-weight: 400;
    line-height: 29px;
    background-color: #2ec06c;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: 1.5s;
}
.about__image {
    position: relative; left: 19px;
}
.services__section {
    height: 598px;
}
.services__header {
    padding-top: 62px;
    text-align: center;
    font-family: 'Asap';
    font-size: 30px;
	font-weight: 400;
}
.services__subtitle {
    font-size: 18px;
    position: relative; left: 2px; bottom: 12px;
}
.services__table {
    padding-top: 10px;
    padding-left: 8px;
}
.services__design {
    display: flex;
    align-items: flex-start;
    padding-right: 70px;
}
.design__icon {
    display: flex;
    align-items: center;
    padding: 25px 0px 0px 0px;
    margin-right: 30px;
}
.design__header {
    color: #202020;
	font-family: 'Asap';
	font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}
.design_text {
    font-family: 'Karla';
	font-size: 16px;
	font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 11px;
}
.row--services {
    padding-top:12px;
}
.clients__section {
    height: 350px;
    background-image: url(../img/clients_background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,.7);
    opacity: 0.96;
    overflow: hidden;
}
.clients_header {
    color: white;
	font-family: 'Asap';
	font-size: 18px;
	font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 55px;
}
.clients__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 60px 100px;
}
.project__section {
    height: 1066px;
}
.project__title {
    text-align: center;
    padding-top: 90px;
    font-family: 'Asap';
	font-size: 30px;
    line-height: 40px;
    margin: 0;
}
.project__title--bold {
    font-weight: 700;
    word-spacing: 0.5px;
    color: #2ec06c;
}
.project__subtitle {
    text-align: center;
    color: #666;
	font-family: 'Karla';
	font-size: 16px;
	font-weight: 400;
    line-height: 30px;
    padding: 4px 155px;
}
.project__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 11px;
    margin-left: 85px;
    width: 940px;
}
.project--block {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.project__overlay{
    display: none;
    position: absolute;
    background:rgba(204,204,204,.5);
    width: 150px;
    height: 50px;
    top: 50%;
    left: 50%;
	border: 1px solid white;
    border-radius: 5px;
    color:#fff;
    text-align:center;
    transition: 1.5s;
}
.project__image:hover .project__overlay{
    display: inline-block;
    cursor: pointer;
}
.project__image:hover{
    opacity: 0.15;
    background-color: #2ec06c;
}
.project__type {
    width: 300px;
	height: 70px;
    background-color: #eee;
    border-radius: 0px 0px 10px 10px;
    color: #666;
	font-family: 'Karla';
    font-size: 20px;
	font-weight: 400;
    line-height: 30px;
    position: relative; bottom: 5px;
    padding-top: 15px;
}
.row--project {
    padding-top: 22px;
}
.feedback__section {
    height: 300px;
    background-image: url(../img/feedback_background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,.7);
    opacity: 0.96;
}
.feedback__block {
    text-align: center;
    padding-top: 77px;
    margin: 0px 70px;
}
.feedback__text {
    color: white;
	font-size: 18px;
	font-weight: 400;
    line-height: 29px;
    font-family: 'Karla';
}
.feedback__name {
    font-family: 'Asap';
	line-height: 29px;
}
.feedback--bold {
    font-family: 'Asap';
    line-height: 29px;
    color: #2ec06c;
	font-size: 18px;
	font-weight: 700;
}
.feedback--italic {
    color: white;
	font-size: 16px;
	font-style: italic;
}
.hire__section {
    height: 636px;
}
.hire__header {
    padding: 60px 10px;
    text-align: center;
}
.hire__title {
    font-family: 'Asap';
	font-size: 30px;
    line-height: 40px;
    color: #202020;
	font-weight: 400;
}
.shade {
    color: #2EC06C;
    font-weight: 700;
}
.hire__subtitle {
    color: #A4A4A4;
    position: relative; bottom: 5px;
}
.hire__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 990px;
    height: 315px;
    position: relative; bottom: 23px; left:80px;
}
.social--block {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}
.fb, .tw, .ig, .dr {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
.fb:hover, .tw:hover, .ig:hover, .dr:hover {
    background-color: #FF0084;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1.5s;
}
.fb:hover a, .tw:hover a, .ig:hover a, .dr:hover a {
    color: white;
}
.fab {
    padding-top: 41px;
    font-size: 55px;
}
.fn, .ln, .eml, .pn, .messagearea {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Asap';
    color: #A4A4A4;
}
.fn, .ln, .eml, .pn {
    width: 300px;
    height: 50px;
}
.fb {
    color: #6E84B3;
}
.fb a {
    color: #3b5998;
}
.tw {
    color: #41C1F2;
}
.tw a {
    color: #41C1F2;
}
.ig {
    color: #769AB7;
}
.ig a {
    color: #769AB7;
}
.dr {
    color: #6E84B3;
}
.dr a {
    color: #3b5998;
}
.button--color {
    color: #A4A4A4;
}
.messagearea {
    height: 160px;
}
input:focus, .messagearea:focus {
    border-radius: 5px;
    border-width: 1px;
    border-color: #2EC06C;
    outline: none;
}
textarea {
    resize: none;
    border: none;
    font-style: italic;
    text-align: none;
    width: 565px;
    height: 155px;
}
button {
    height: 160px;
    vertical-align: top;
    margin-right: -100px;
}
button:hover {
    background-color: #2EC06C;
}
.social--buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.last__footer {
    height: 50px;
    background-color: #eee;
    padding: 5px 180px;
}
.footer__text {
    font-family: 'Asap';
	font-size: 16px;
	line-height: 30px;
}
.footer--italic {
    color: #2ec06c;
	font-weight: 700;
	font-style: italic;
}