<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title homework 10 SCSS
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Rufina:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		link(rel="stylesheet", href="./style/style.css")
	body
		.header
			.container
				.header__group
					.header__logo
						a(href="javascript:void(0)")
							img(src="../img/Logo main.png", alt="")
					nav.header__nav
						ul.header__list
							li.nav__item
								a(href="javascript:void(0)").nav__link.nav__link--active PORTFOLIO
							li.nav__item
								a(href="javascript:void(0)").nav__link ABOUT ME
							li.nav__item
								a(href="javascript:void(0)").nav__link RESUME
							li.nav__item
								a(href="javascript:void(0)").nav__link CONTACT
					img(src="../img/shadow menu.png")
		.portfolio
			.container
				.portfolio__group
					nav.portfolio__nav
						ul.portfolio__list
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link.portfolio__link--active ALL
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link MOBILE APPS
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link WEB SITES
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link LOGOS
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link PHOTOGRAPHY
							li.portfolio__item
								a(href="javascript:void(0)").portfolio__link OTHERS
					.portfolio__img
						.row
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img01.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img02.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img03.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img04.png", alt="")
						.row.row--img
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img05.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img06.jpg", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img07.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img08.png", alt="")
						.row.row--img
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img09.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img10.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img11.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img12.png", alt="")
						.row.row--img
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img01.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img02.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img03.png", alt="")
							.col.col-3
								a(href="javascript:void(0)")
									img(src="../img/img04.png", alt="")
		.main__footer
			.container
				.main__footer__group
					.row
						.col.col-7
							.footer__info
								a(href="javascript:void(0)")
									img(src="../img/logo footer.png", alt="")
								.author__info
									h1 Ganesh Krishnan R
								.geo.fas.fa-map-marker-alt Kannur, Kerala, India.
								.social
									.media
										a(href="javascript:void(0)").fab.fa-facebook-f
									.media
										a(href="javascript:void(0)").fab.fa-linkedin
									.media
										a(href="javascript:void(0)").fab.fa-behance
									.media
										a(href="javascript:void(0)").fas.fa-infinity
									.media
										a(href="javascript:void(0)").fas.fa-camera-retro
								.text__info
									p I a am front end UI designer and developer with a strong eye for creative, modern and trendy designs. I am an internet bug who try to keep up with the latest trends and technologies. I love photography and have been doing photography professionally and as a hobby for past couple of years. Hence my graphic designing, image editing and manipulation skills have been growing with me during these years...
						.col.col-4.offset-1
							h1 My Skills
								.footer__skills
									.progress-bar
										span(style={width: "92%"})
											h2 Ps
									.progress-bar
										span(style={width: '82%'})
											h2 Ai
									.progress-bar
										span(style={width: '73%'})
											h2 Cdr
									.progress-bar
										span(style={width: '37%'})
											h2 Fl
									.progress-bar
										span(style={width: '82%'})
											h2 Dw
									.progress-bar
										span(style={width: '14%'})
											h2 Pr
		.last__footer
			.container
				.last__footer__group
					nav.last__footer__nav
						ul.last__footer__list
							li.last__footer__item
								a(href="javascript:void(0)").last__footer__link.last__footer__link--active PORTFOLIO
							li.last__footer__item
								a(href="javascript:void(0)").last__footer__link ABOUT ME
							li.last__footer__item
								a(href="javascript:void(0)").last__footer__link RESUME
							li.last__footer__item
								a(href="javascript:void(0)").last__footer__link CONTACT
					p all rights reserved &#169; ganeshkrishnanr