body {
    background-color: black;
    text-align: left;
}

h1 {
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.red {
    color: red;
    font-size: 20px;
}
.orange {
    color: orange;
    font-size: 20px;
}
.yellow {
    color: yellow;
    font-size: 20px;
}
.green {
    color: green;
    font-size: 20px;
}
.lightblue {
    color: lightblue;
    font-size: 20px;
}
.blue {
    color: blue;
    font-size: 20px;
}
.purple {
    color: purple;
    font-size: 20px;
}