body {
    width: 1280px;
    height: 976px;
    font-family: 'PT Sans';
    text-align: center;
    background-image: url();
}
.container {
    width: 954px;
    margin: 0 auto;
}
.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}
.col-1 {
    width: 8.333333333333333%;
}
.col-3 {
    width: 25%;
    padding-top: 65px;
}
.col-4 {
    width: 33.33333%;
}
.col-12 {
    width: 100%;
}
.row {
    margin: 0 -15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.clear {
    clear: both;
    height: 1px;
}
.title {
    text-transform: uppercase;
    color: #898f99;
    font-size: 11px;
	font-weight: 600;
    line-height: 30px;
    position: relative; top: 5px;
    letter-spacing: 5px;
}
.subtitle {
    text-transform: uppercase;
    color: #999;
	font-size: 18px;
	font-weight: 400;
    line-height: 30px;
    position: relative; top: 7px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}
.top {
    padding-top: 108px;
    padding-bottom: 70px;
}
h1 {
    color: #0ec8cb;
	font-family: 'Montserrat';
	font-size: 48px;
	font-weight: 400;
	line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 2px;
}
h3 {
    font-family: 'Montserrat';
	font-size: 21px;
	font-weight: 600;
    text-transform: uppercase;
    position: relative; top: 30px;
}
.text {
    color: #777;
	font-size: 14px;
	font-weight: 400;
    line-height: 22px;
    position: relative; top: 32px;
}
.web {
    height: 420px;
}
.graphics, {
    position: relative; right: 10px;
}
.illustrations {
    position: relative; right: 15px;
}
i {
    font-size: 55px;
}
.table {
    background-color: #f7f7f7;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding-bottom: 107px;
}
.table:hover {
    background-color: #0ec8cb;
    color: white;
}